<div class="dialog-content">
    <mat-form-field>
        <mat-label>Game Type</mat-label>
        <mat-select cdkFocusInitial [(ngModel)]="data.score.gameType" (ngModelChange)="onGameTypeChange($event)">
            <mat-option value="mario">Mario</mat-option>
            <mat-option value="dinosaur">Dinosaur</mat-option>
            <mat-option value="beer">Beer</mat-option>
        </mat-select>
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.score.name" [disabled]="!isGameTypeSelected" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput [(ngModel)]="data.score.surname" [disabled]="!isGameTypeSelected" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Score</mat-label>
        <input matInput [(ngModel)]="data.score.score" [disabled]="!isGameTypeSelected"/>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="{ score: data.score }">OK</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>
