.leaderboards-container {
    display: flex;
  }
  
  .leaderboard {
    flex: 1;
    margin: 0 10px;
    width: 300px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bottom shadow */
  }
  
  .leaderboard-title {
    background-color: #333; /* Title background color */
    color: #fff; /* Title text color */
    padding: 10px;
    margin: 0;
    border-top-left-radius: 10px; /* Rounded corners for title */
    border-top-right-radius: 10px;
    text-align: center;
  }
  