<br>
<div class="leaderboards-container">
    <div class="leaderboard">
      <h2 class="leaderboard-title">Mario Leaderboard</h2>
      <app-generic-leaderboard [scores]="marioScores"></app-generic-leaderboard>
    </div>
    <div class="leaderboard">
      <h2 class="leaderboard-title">Dino Leaderboard</h2>
      <app-generic-leaderboard [scores]="dinoScores"></app-generic-leaderboard>
    </div>
    <div class="leaderboard">
      <h2 class="leaderboard-title">Beer Leaderboard</h2>
      <app-generic-leaderboard [scores]="beerScores"></app-generic-leaderboard>
    </div>
</div>
  